.card {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  background: var(--color-white);
  text-decoration: none;
  color: var(--color-text-primary);
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  position: relative;
  background-color: #f9f9f9;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfumeImage {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.imagePlaceholder {
  width: 100%;
  height: 250px;
  background-color: #f0f0f0;
}

.heartIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 2;
  background-color: var(--color-white);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.heartIconImage {
  width: 18px;
  height: 18px;
}

.info {
  padding: 20px;
  text-align: center;
}

.brand {
  font-size: 13px;
  color: var(--color-text-secondary);
  text-transform: uppercase;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin: 4px 0;
  color: var(--color-text-primary);
}

.type {
  font-size: 14px;
  color: var(--color-text-secondary);
}
