:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-background-light: #f7f7f7;
  --color-accent: #cab283;
  --color-text-primary: #111111;
  --color-text-secondary: #aaaaaa;

  --font-serif: Georgia, 'Times New Roman', serif;
  --font-sans: 'Arial', 'Helvetica', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-white);
  color: var(--color-text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}
